@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

:root {
    --primary-color: #ff6969;
    --secondary-color: #c70039;
    --background-color: #fff5e0;
    --text-color: #141e46;
}

body {
    min-height: 100vh;
    background-color: var(--background-color) !important;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 54px;
    background-color: var(--background-color);
    transition: all 0.3s ease;
}

header.scrolling-active {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 54px;
    background-color: var(--background-color);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

header .logo {
    height: 65px;
    cursor: pointer;
}

header nav {
    display: flex;
    align-items: center;
    gap: 54px;
}

.nav-links {
    margin-top: 16px;
}

.nav-links li {
    display: inline;
    padding: 0 40px;
    font-size: 20px;
    font-weight: 400;
    color: var(--text-color);
    list-style: none;
}

.nav-links li a {
    transition: all 0.3s ease;
    color: var(--text-color);
    text-decoration: none;
    text-transform: uppercase;
}

.nav-links li a:hover {
    font-weight: 700;
}

.nav-links .nav-item.active {
    font-weight: 700;
}

.auth a {
    text-transform: uppercase;
    text-decoration: none;
    color: var(--text-color);
    padding: 0 12px;
}

.auth .btn-register {
    color: var(--text-color);
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
}

.auth .btn-login {
    background-color: var(--text-color);
    color: var(--background-color);
    padding: 4px 24px;
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
}

.auth .btn-login:hover {
    background-color: #101736;
}

.hero {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--background-color);
    height: 83vh;
}

.hero .hero-content {
    display: flex;
    flex-direction: column;
    top: 15%;
    left: 7%;
    position: absolute;
    text-align: start;
    z-index: 1;
}

.hero .hero-content h1 {
    font-size: 45px;
    font-weight: 800;
    line-height: 56px;
    color: var(--text-color);
}

.hero .hero-content p {
    margin-top: 20px;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    width: 40%;
    color: var(--text-color);
}

.hero .hero-content .share {
    display: flex;
    align-items: center;
    margin-top: 20px;
    gap: 16px;
}

.hero .hero-content .share a {
    display: inline-block;
    padding: 16px 48px;
    text-decoration: none;
    color: var(--background-color);
    background-color: var(--text-color);
    box-shadow: 0px 4px 4px 0px #00000080;
    font-size: 15px;
    font-weight: 600;
}

.hero .hero-content .share a:hover {
    background-color: #101736;
}

.hero .hero-img {
    position: absolute;
    width: 55%;
    z-index: 0;
    top: 3%;
    right: 10px;
}

.about {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--primary-color);
    padding: 40px 0 80px 0;
}

.about h1 {
    font-size: 48px;
    font-weight: 600;
    line-height: 72px;
    color: var(--background-color);
}

.about .about-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 65%;
}

.about .about-content p {
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    color: var(--background-color);
}

.benefits {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--background-color);
    padding: 50px 0 100px 0;
}

.benefits h1 {
    font-size: 48px;
    font-weight: 600;
    line-height: 72px;
    color: var(--text-color);
}

.benefits .benefit-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    padding: 0 40px;
    margin-top: 40px;
}

.benefits .benefit-content .card {
    display: flex;
    align-items: center;
    border: none;
    border-radius: 0;
    height: 324px;
    width: 324px;
    background-color: var(--primary-color);
    box-shadow: 0px 4px 4px 0px #000000b2;
}

.benefits .benefit-content .card .benefit-img {
    height: 114px;
    width: 114px;
}

.benefits .benefit-content .card h2 {
    font-size: 18px;
    font-weight: 600;
    line-height: 27px;
    color: var(--text-color);
}

.benefits .benefit-content .card p {
    padding: 0 32px;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    text-align: center;
    color: var(--text-color);
}

.explore {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--primary-color);
    padding: 50px 0 100px 0;
}

.explore h1 {
    font-size: 48px;
    font-weight: 600;
    line-height: 72px;
    color: var(--background-color);
}
.swiper {
    width: 70%;
    padding-top: 50px;
    padding-bottom: 50px;
    margin-top: 38px;
}

.swiper-slide {
    background-position: center;
    background-size: cover;
    width: 300px;
    height: 300px;
}

.swiper-slide img {
    display: block;
    width: 100%;
}

.swiper-button-next,
.swiper-button-prev {
    background-size: 70px;
    background-position: center;
    background-repeat: no-repeat;
    padding: 12px 24px;
}

.swiper-button-next::after,
.swiper-button-prev::after {
    content: "" !important;
}

.swiper-button-next {
    background-image: url(../images/arrow-right.png);
}

.swiper-button-prev {
    background-image: url(../images/arrow-left.png);
}

.explore .others {
    display: flex;
    align-items: center;
    margin-top: 20px;
    gap: 16px;
}

.explore .others a {
    display: inline-block;
    padding: 16px 76px;
    text-decoration: none;
    color: var(--background-color);
    background-color: var(--text-color);
    box-shadow: 0px 4px 4px 0px #00000080;
    font-size: 15px;
    font-weight: 600;
}

.explore .others a:hover {
    background-color: #101736;
}

footer .footer-content {
    margin-top: 18px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    height: 100px;
    background-color: var(--primary-color);
}

footer .footer-content .social {
    display: flex;
    gap: 10px;
}

footer .footer-content .social img {
    width: 40px;
    height: 40px;
}

footer .footer-content .social p {
    font-size: 24px;
    font-weight: 400;
    line-height: 36px;
    color: var(--background-color);
}
